.body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  background-color: gray;
}

.caixa_padrao {
  width: 50px;
  height: 50px;
  text-align: center;
}

.caixa1 {
  background-color: rgb(0, 162, 255);
  justify-content: center;
}

.caixa2 {
  background-color: blue;
  justify-content: center;
}

.caixa3 {
  background-color: violet;
  justify-content: center;
}

.caixa4 {
  background-color: yellow;
}

.container2 {
  display: flex;
  justify-content: end;
  background-color: gray;
}

.container3 {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.container4 {
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.container5 {
  display: flex;
  justify-content: space-around;
  background-color: gray;
}

.container6 {
  display: flex;
  justify-content: space-evenly;
  background-color: gray;
}

.container-exercicioB {
  display: flex;
  flex-direction: column-reverse;
  background-color: gray;
}

.caixa1B {
  background-color: rgb(0, 162, 255);
  justify-content: center;
}

.caixa2B {
  background-color: blue;
  justify-content: center;
}

.caixa3B {
  background-color: violet;
  justify-content: center;
}

.caixa4B {
  background-color: yellow;
  justify-content: center;
}

.container-desafio {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  background-color: gray;
}

.caixa-desafio1 {
  background-color: rgb(0, 162, 255);
  justify-content: center;
}

.caixa-desafio2 {
  background-color: blue;
  justify-content: center;
}

.caixa-desafio3 {
  background-color: violet;
  justify-content: center;
}

.caixa-desafio4 {
  background-color: yellow;
  justify-content: center;
}
